<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="com.AndroidTech4u.LgTv" id="r1"></bean>
    
    <bean class="com.AndroidTech4u.SamsungTv" id="r2"></bean>
     
     <bean class="com.AndroidTech4u.ServiceProvider" id="spp" scope="prototype">
     <property name="serviceremote" ref="r2"></property>  
     </bean>
 
</beans>
